
.header{
    text-align: center;
}
.javascript {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 150px;


}
.operators {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;

}
.css {
    width: 300px;
    height: 100px;
    margin-left: 40px;

}
.jquery {
    width: 300px;
    height: 100px;
    margin-left: 40px;

}
.functions {
    width: 300px;
    height: 100px;
    margin-left: 40px;

}
.methods {
    width: 300px;
    height: 100px;
    margin-left: 150px;
}
.variables {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 150px;
}
.strings {
    width: 300px;
    height: 100px;
    margin-left: 40px;
}
.Html {
    width: 300px;
    height: 100px;
    margin-left: 40px;
}
.booleans {
    width: 300px;
    height: 100px;
    margin-left: 40px;
}
