
.header{
    text-align: center;
}
.javascript {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;
    


}
.operators {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;

}
.css {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;

}
.jquery {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40px;

}
.functions {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;

}
.methods {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;
}
.variables {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;
}
.Strings {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;
}
.Html {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 40px;
}
.booleans {
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom:40px;
}

.footer{
    text-align: center
}
.p1 {
    display: none;
    text-align: center;
}
.header1{
    text-align: center;
}